<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars Page</title>
</head>
<body>
<h1>List of Cars</h1>
<table border="1">
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Year</th>
    </tr>
    <!-- Используем Thymeleaf для отображения списка машин -->
    <tr th:each="car : ${cars}">
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.year}"></td>
    </tr>
</table>
</body>
</html>